<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="payloadMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="endpointMap">
			<map>
				<entry key="{http://www.ispring.com/ws/hello}eRequest">
					<ref bean="helloEndpoint" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="hello"
		class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<!-- -->
		<property name="wsdl" value="classpath://hello.wsdl"></property>
		<!-- <property name="wsdl" value="/WEB_INF/hello.wsdl"></property> -->
		<!-- <constructor-arg value="/WEB_INF/hello.wsdl"/> -->
	</bean>

	<bean id="helloEndpoint" class="com.ouyang.springws.FirstSws">
		<property name="helloService" ref="helloService"></property>
	</bean>

	<bean id="helloService" class="com.ouyang.springws.HelloServiceImpl"></bean>
</beans>